/* ==========================================================================
   Font Families (served via Fonts.com)
   ========================================================================== */

$pal: "Palatino Linotype", Palatino, "Times New Roman", Times, serif;

$helvMedi: "HelveticaNeueW02-65Medi", "Helvetica Neue", Arial, Helvetica, sans-serif;

$helvLigh: "HelveticaNeueW02-45Ligh", Helvetica, sans-serif;

$helvlt: "HelveticaNeueW01-UltLt", Helvetica, sans-serif;

$helvBold: "HelveticaNeueW02-75Bold", Helvetica, sans-serif;

$helv: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$roma: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;