/*****
 * TABLE OF CONTENTS
 *
 * MEDIA QUERIES
 *    - x-small
 *    - small
 *    - medium 
 *    - large
 *    - x-large
 *
 * REM to PIXEL 
 * 
 * VIEWPORT to REM to PX FALLBACK
 *
 * CROSS BROWSER OPACITY
 *
 * BORDER RADIUS
 *
 * TRANSITIONS
 * 
 * BORDER-BOX
 * 
 * FONT SMOOTHING
 *
 * BOX SHADOW
 *
 * GRADIENT
 *
 * BOOTSTRAP GLYPHS
 *
 * FONTAWESOME GLYPHS
 *
 * CALCULATE WIDTH
 *
 * LINE HEIGHT
 *
 * ABSOLUTE POSITIONING
 *
 * MARGIN & PADDING
 *
 * ASPECT RATIO
 *
 * RGBA BACKGROUND
 *
 * ANIMATION
 * 
 * VERTICAL ALIGN
 * 
 *
 *****/

/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/

@mixin x-small {
  @media only screen and (max-width:  350px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width:  767px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}

@mixin x-large {
  @media only screen and (min-width: 1470px) {
    @content;
  }
}

/*------------------------------------*\
    #REM to PIXEL FALLBACK
\*------------------------------------*/
   
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*------------------------------------*\
    #Viewport to REM to PX fallback
\*------------------------------------*/
   
@function get-vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@mixin vw($size) {
  font-size: $size;
  font-size: calculateRem($size);
  font-size: get-vw($size);
}

/*------------------------------------*\
    #CROSS-BROWSER OPACITY
\*------------------------------------*/
   
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*------------------------------------*\
    #BORDER-RADIUS
\*------------------------------------*/

@mixin border-radius($radius) {
    -webkit-border-top: $radius;
	-webkit-border-top: $radius;
	-moz-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/*------------------------------------*\
    #TRANSITIONS
\*------------------------------------*/

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*------------------------------------*\
    #BORDER-BOX
\*------------------------------------*/

@mixin border-box {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*------------------------------------*\
    #FONT SMOOTHING
\*------------------------------------*/

@mixin smoothing {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*------------------------------------*\
    #BOX SHADOW
\*------------------------------------*/
   
@mixin box-shadow($horiz, $vert, $blur, $spread, $color){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

/*------------------------------------*\
    #GRADIENT
\*------------------------------------*/

@mixin linear-gradient($fromColor, $toColor) {
	background: $toColor; 
	background: -o-linear-gradient(top, $fromColor, $toColor);
	background: -ms-linear-gradient(top, $fromColor, $toColor);
	background: -moz-linear-gradient(top, $fromColor, $toColor);
	background: -webkit-linear-gradient(top, $fromColor, $toColor);
	background: linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

/*------------------------------------*\
    #BOOTSTRAP GLYPHS
\*------------------------------------*/

@mixin glyph($content) {
	content: $content;
	position: relative;
	top: -2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include border-box;
}

/*------------------------------------*\
    #FONTAWESOME GLYPHS
\*------------------------------------*/

@mixin fawesome($content) {
	content: $content;
	position: relative;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font: normal normal normal 14px/1 FontAwesome;
}

/*------------------------------------*\
    #Calculate Width
\*------------------------------------*/

@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@function cp($target, $container) {
  @return calc-percent($target, $container);
}

/*------------------------------------*\
    #Line Height
\*------------------------------------*/

@mixin line-height($heightValue: 12 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}

/*------------------------------------*\
    #Absolute Positioning
\*------------------------------------*/

@mixin abs-pos ($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

/*------------------------------------*\
    #Margin & Padding
\*------------------------------------*/

@mixin display ($disp, $padding: null, $r-margin: null, $l-margin: null) {
    display: $disp;
    padding: $padding;
    margin-left: $l-margin;
    margin-right: $r-margin;
}

/*------------------------------------*\
    #Aspect Ratio
\*------------------------------------*/

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .your-content-div-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*------------------------------------*\
    #RGBA Background
\*------------------------------------*/

@mixin rgba-background($hexcolor, $opacity: 1) {
  @if $opacity == 1 {
    background-color: $hexcolor;
  }
  @else {
    background-color: $hexcolor;
    background-color: rgba($hexcolor, $opacity); 
  }
}


/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

@mixin animate($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

/*------------------------------------*\
    #VERTICAL ALIGN
\*------------------------------------*/

@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  left: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}