/* ==========================================================================
   Breadcrumb styles
   ========================================================================== */

#breadcrumb {
	.container {
		background-color: #f5f5f5;
	}
	.breadcrumb {
		margin-bottom:0px;
		padding-left: 0px;
		@include font-size(19px);
	}
	.breadcrumb > li+li:before {
			color: #a5a5a5;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 10px;
			@include font-size(1px);
			@include glyph("\e080");
	}
}

#breadcrumb {
	ol li:first-child {
		text-transform: uppercase;
		a {
			font-family: $pal;
			-moz-font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
		}
	}
	a {
		color: #aaa;
		&:hover, &:focus {
			color: $red;
		}
	}
	li {
		font-family: $helv;
	}
	.active {
		color: #2d2d2d;
		@include font-size(13px);
	}
}

.breadcrumb>.active {
	color: #2d2d2d;
}