{% extends "left_sidebar.html" %}
{% load staticfiles %}
{% block site_title %}Your App Name{% endblock site_title %}
{% block extra_head_bottom %}
    <link href="{% static "styles.css" %}" rel="stylesheet" type="text/css">
{% endblock extra_head_bottom %}
<!--- ==========================================================================
   Include your custom blocks/html below:
   ========================================================================== --->
   
   
   




























<!-- Placed at the end of the document so the pages load faster -->
{% block extra_footer_js %}
    <script src="{% static "scripts.js" %}"></script>
{% endblock extra_footer_js %}   