# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Dev tools
.idea
.vagrant

# SQLite
*.sqlite3

# Test Coverage Suite
.coverage

# projects dir
projects/

# HTML coverage
htmlcov/

# Sass Files
*.sass-cache

# Code Kit
config.codekit
