/* ==========================================================================
   Base styles (extends or overrides some Bootstrap defaults)
   ========================================================================== */
   
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	background: #efefef;
	background: url('../../../static/img/bg/bg-body.jpg') center -1px repeat-y;
}

body, 
html {
    font-family: $lato;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4;
}

li {
	list-style-type: none;
}

p, 
ul li,
ol {
	word-wrap: break-word;
}

/* ==========================================================================
   Headers
   ========================================================================== */
   
#{headings()} {
	 font-family: $bask;
	 margin-bottom: 20px;
	 word-wrap: break-word;
	 font-weight: normal; 
	 line-height: 1.1;
}

#{headings()} a {
	 font-family: $bask;
	 margin-bottom: 20px;
	 word-wrap: break-word;
	 font-weight: normal; 
	 line-height: 1.1;
}

/* ==========================================================================
   Paragraphs
   ========================================================================== */
   
p {
	 font-family: $lato;
	 @include font-size(18px);
	 line-height: 1.5em;
	 margin: 0 0 1.5em 0;
	 color: #4d4d4d;
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
	font-family: $lato;
	color: $red;
	&:hover, &:focus {
		text-decoration: none;
		color: #df524e;
	}
}

/* ==========================================================================
   Strong
   ========================================================================== */

strong, b {
	color: #1b1b1b;
	font-family: $latoBold;
}

/* ==========================================================================
   Blockquote
   ========================================================================== */
   
blockquote {
	font-family: $lato;
	background-color: #eee;
	@include border-radius(4px);
	padding: 30px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable:active,
    &.focusable:focus {
		  clip: auto;
	    height: auto;
	    margin: 0;
	    overflow: visible;
	    position: static;
	    width: auto;
    }
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Override Bootstrap breakpoints to match Wharton Responsive Approach
   ========================================================================== */

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
} 
@media (min-width: 1470px) {
  .container {
    width: 1470px;
  }
}

/* For: http://getbootstrap.com/getting-started/#support-ie10-width */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/* ==========================================================================
   Add padding to main row areas
   ========================================================================== */

#header, 
	#banner, 
	#breadcrumb,
	.main-nav,
	#footer,
	section,
	#nav-top,
	#view-more {
		.row {
			padding: 0px 40px;
	}
}

@include x-large {
	#header, 
	#banner,
	#nav-top, 
	#breadcrumb,
	.main-nav,
	#footer,
	section,
	#view-more {
		.row {
			padding: 0px 115px;
		}
	}
}

/* ==========================================================================
   Main Container Default
   ========================================================================== */
   
   main#content .container {
	   padding: 0px 40px;
	   @include x-large {
	   	padding: 0 115px;
	   }
	   @include small {
		   padding: 0px 10px;
	   }
   } 
   footer {
	   padding-top: 100px;
   }